LIVEKIT_VERSION=v1.13.1
LIVEKIT_DOMAIN=rtc.shengyukj.top
LIVEKIT_NODE_IP=121.43.108.200
LIVEKIT_USE_EXTERNAL_IP=false
LIVEKIT_REDIS_ADDRESS=host.docker.internal:6379
REDIS_PASSWORD=CHANGE_ME_ON_SERVER

IM_CALL_LIVEKIT_URL=wss://rtc.shengyukj.top
IM_CALL_LIVEKIT_API_KEY=CHANGE_ME_ON_SERVER
IM_CALL_LIVEKIT_API_SECRET=CHANGE_ME_ON_SERVER
IM_CALL_LIVEKIT_TOKEN_EXPIRE_SECONDS=600
IM_CALL_LIVEKIT_ALLOW_INSECURE=false

LIVEKIT_WEBHOOK_URL=https://apisaas.shengyukj.top/app-api/system/im/call/livekit/webhook
