<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shengyu.module.system.dal.mysql.flow.FlowlongMapper">

    <sql id="sqlConditionProcessTask">
        <if test="dto.processName != null and dto.processName != '' ">
            AND p.process_name LIKE CONCAT(CONCAT('%',#{dto.processName}),'%')
        </if>
        <if test="dto.createBy != null and dto.createBy != '' ">
            AND p.create_by LIKE CONCAT(CONCAT('%',#{dto.createBy}),'%')
        </if>
        <if test="dto.instanceId != null">
            AND i.id = #{dto.instanceId}
        </if>
        <if test="dto.instanceState != null">
            AND i.instance_state = #{dto.instanceState}
        </if>
        <if test="dto.beginTime != null">
            AND i.create_time >= #{dto.beginTime}
        </if>
        <if test="dto.endTime != null">
            AND i.create_time &lt;= #{dto.endTime}
        </if>
        ORDER BY i.create_time DESC
    </sql>

    <select id="selectPageApproved" resultType="com.shengyu.module.system.controller.admin.flow.vo.ProcessTaskVO">
        SELECT i.process_id,p.process_name,p.process_type,i.current_node_name,i.current_node_key,i.id AS instance_id,i.instance_state,i.create_id,i.create_by,i.create_time,i.expire_time,i.end_time,i.duration
        FROM flw_his_instance i LEFT JOIN flw_ext_instance p ON i.id=p.id
        WHERE EXISTS (SELECT 1 FROM flw_his_task c JOIN flw_his_task_actor a ON c.id=a.task_id WHERE i.id=c.instance_id AND a.weight IS NULL AND a.actor_id=#{dto.createId})
        <include refid="sqlConditionProcessTask"></include>
    </select>

    <select id="selectListHisTaskActorVOByInstanceId" resultType="com.shengyu.module.system.controller.admin.flow.vo.FlwHisTaskActorVO">
        SELECT a.task_id,a.actor_name,(SELECT avatar FROM sys_user WHERE CONCAT(id)=a.actor_id) AS avatar,a.weight
        FROM flw_his_task_actor a WHERE a.instance_id=#{instanceId}
    </select>

    <select id="selectCountByParentTaskIdAndActorId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM flw_his_task_actor a JOIN flw_his_task h ON a.task_id=h.id WHERE h.id=#{parentTaskId} AND a.actor_id=#{actorId}
    </select>

</mapper>
